body{
    background-color: white;
}
.im1{
    width: 450px;
    margin-left: 20px;
    margin-top: 20px;
}

.im2{
    width: 450px;
    margin-left: 10px;
    margin-top: 20px;
}

.im3{
    width: 450px;
    margin-left: 10px;
    margin-top: 20px;
}