
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#botones-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 100px;
}

.boton-estilo1 {
    margin-left: 10px;
    background-color: transparent;
    color: white;
    border: none;
    
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    
}

.boton-estilo2 {
    margin-left: 10px;
    background-color: transparent;
    color: white;
    border: none;
    
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.boton-estilo3 {
    margin-left: 10px;
    background-color: transparent;
    color: white;
    border: none;
   
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.boton-estilo2 {
    margin-left: 10px;
    background-color: transparent;
    color: white;
    border: none;
   
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.imagen-estilo {
   height: 70px;
    border: 2px solid #555;
    margin-top: 10px;
    border-radius: 30px;
    margin-right: 1500px;
    margin-top: 20;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.nombre{
    text-align: center;
    color: white;
    font-size:x-large;
    font-size:40px;
    margin-top: 0px;

}

.eslogan{
    text-align: center;
    color: white;
    font-size:50px;
    margin-top: -35px;
    
}

.contenedor{
    display: flex;
   
}
.imhome{
    height: 500px;
    width: 1530px;
   
}
.imhome2{
    height: 550px;
    width: 500px;
    margin-left: 50px;
    margin-top: 20px;
}
.boton-estilopp{
    margin-left: 800px;
    margin-top: 5px;
    background-color: transparent;
    color: white;
    border: none;
background-color: #555;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer; 
    width: 150px;
    height: 50px;  
}

body{
    background-color: white;
}
.im1{
    width: 450px;
    margin-left: 20px;
    margin-top: 20px;
}

.im2{
    width: 450px;
    margin-left: 10px;
    margin-top: 20px;
}

.im3{
    width: 450px;
    margin-left: 10px;
    margin-top: 20px;
}